extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 Actuarial Mathematics
          small &nbsp;Samples from actuarial mathematics book
  .row
    .col-xs-12.col-sm-3
      p Chapter listing area.

